body {
  margin: 0;
  font-family: "Ubuntu";
}

/* Colors */
a:link {
  color: #675daf;
  text-decoration: none;
}

a:visited {
  color: #8ea8de;
}

a:hover {
  color: #352e6b;
}

.card * a:hover {
  color: white;
}
/* Rounded */
video {
  display: flex;
  border-radius: 1rem;
  outline: none;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 40% !important;
  height: auto !important;
}

@media only screen and (max-width: 400px) {
  video {
    min-width: 90%;
    width: 90% !important;
  }
}

pre {
  border-radius: 1rem;
}

/* Spacing */
.main {
  margin: 2rem;
}

li {
  margin-bottom: 1rem;
}

.centered-list {
  list-style-type: none;
  padding-left: 0;
}

/* Navigation */
.navigation {
  background-color: #8ea8de;
  overflow: hidden;
  margin-bottom: 1rem;
}

.navigation a {
  float: left;
  transition: 250ms ease-in-out;
  color: black;
  text-align: center;
  padding: 1rem 1.2rem;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #eeeeee;
  color: black;
}

.navigation a.active {
  background-color: #4c3fb0;
  color: white;
}

.card {
  background-color: #392e8d;
  padding: 2rem;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  color: white;
  min-width: 40%;
  max-width: 400px;
  box-shadow: 0 1rem 2rem 0 #222222;
}
